@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional custom styles */
:root {
  --brand-pink: #ec4899;
  --brand-light-pink: #fce7f3;
  --brand-dark-pink: #db2777;
  --brand-dark-text: #1f2937;
  --secondary-color: #9333ea;
}
